<!DOCTYPE HTML>
<html xmlns:layout="http://www.thymeleaf.org" xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}" lang="en">
<head>
    <title th:utext="${title}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="UTF-8">
    <link th:href="@{/css/core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<form class="my-overflow" style="padding-top: 7rem; padding-left: 9rem" layout:fragment="content"
      th:action="@{/users/{userId}/edit(userId=${user.id})}" th:object="${user}" th:method="put">
    <h2>Update Personal Info</h2>
    <br/>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="formFirstNameInput" class="col-sm-5 col-form-label"
                   style="font-size: 20px; padding-left: 0; color: olive;">First Name </label>
            <input class="form-control" type="text"
                   th:field="*{firstName}" id="formFirstNameInput"/>
        </div>
        <div class="form-group col-md-4">
            <label for="formLastNameInput" class="col-sm-5 col-form-label"
                   style="font-size: 20px; padding-left: 0; color: olive;">Last Name </label>
            <input class="form-control" type="text"
                   th:field="*{lastName}" id="formLastNameInput"/>
        </div>
        <div class="form-group col-md-4">
            <label for="formThirdNameInput" class="col-sm-5 col-form-label"
                   style="font-size: 20px; padding-left: 0; color: olive;">Third Name </label>
            <input class="form-control" type="text"
                   th:field="*{thirdName}" id="formThirdNameInput"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="formBirthDateInput" class="col-sm-5 col-form-label"
                   style="font-size: 20px; padding-left: 0; color: olive;">Birth Date </label>
            <input class="form-control" type="date"
                   th:field="*{birthDate}" id="formBirthDateInput"/>
        </div>
        <div class="form-group col-md-4" style="margin-bottom: -1rem;">
            <label style="font-size: 20px; padding-left: 0; color: olive;"
                   for="formGenderInput" class="col-sm-5 col-form-label">Gender </label>
            <select name="gender" class="form-control" id="formGenderInput"
                    th:field="*{gender}">
                <option th:each="genders : ${T(com.conferences.model.Gender).values()}"
                        th:value="${genders}" th:text="${genders.displayValue}"></option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label style="font-size: 20px; padding-left: 0; color: olive;"
                   for="formEmailInput" class="col-sm-5 col-form-label">Email </label>
            <input class="form-control" type="email"
                   th:field="*{email}" id="formEmailInput"/>
        </div>
        <div class="form-group col-md-4">
            <label style="font-size: 20px; padding-left: 0; color: olive;"
                   for="formPhoneInput" class="col-sm-5 col-form-label">Phone </label>
            <input class="form-control" type="tel"
                   th:field="*{phone}" id="formPhoneInput"/>
        </div>
        <div class="form-group col-md-4">
            <label style="font-size: 20px; padding-left: 0; color: olive;"
                   for="formPasswordInput" class="col-sm-5 col-form-label">Password</label>
            <input class="form-control" type="text"
                   th:field="*{password}" id="formPasswordInput"/>
        </div>
    </div>
    <br/>
    <h2>Update Education Info</h2>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label style="font-size: 20px; padding-left: 0; color: olive;"
                   for="formUniversityInput" class="col-sm-5 col-form-label">University</label>
            <input class="form-control" type="text"
                   th:field="*{university}" id="formUniversityInput"/>
        </div>
        <div class="form-group col-md-4">
            <label style="font-size: 20px; padding-left: 0; color: olive;"
                   for="formDepartmentInput" class="col-sm-5 col-form-label">Department</label>
            <input class="form-control" type="text"
                   th:field="*{universityDepartment}" id="formDepartmentInput"/>
        </div>
        <div class="form-group col-md-4">
            <label style="font-size: 20px; padding-left: 0; color: olive;"
                   for="formOrganisationInput" class="col-sm-5 col-form-label">Organisation</label>
            <input class="form-control" type="text"
                   th:field="*{organisation}" id="formOrganisationInput"/>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group form-group col-md-4">
            <label style="font-size: 20px; padding-left: 0; color: olive;"
                   for="formEducStatusInput" class="col-sm-7 col-form-label">Education Status</label>
            <select name="educStatus" class="form-control"
                    th:field="*{educationStatus}" id="formEducStatusInput">
                <option th:each="educStatuses : ${T(com.conferences.model.EducationStatus).values()}"
                        th:value="${educStatuses}" th:text="${educStatuses.displayValue}"></option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label style="font-size: 20px; padding-left: 0; color: olive;"
                   for="formEducTypeInput" class="col-sm-6 col-form-label">Education Type</label>
            <select name="educType" class="form-control"
                    th:field="*{educationType}" id="formEducTypeInput">
                <option th:each="educTypes : ${T(com.conferences.model.EducationType).values()}"
                        th:value="${educTypes}" th:text="${educTypes.displayValue}"></option>
            </select>
        </div>
        <div class="form-group col-md-4">
            <label style="font-size: 20px; padding-left: 0; color: olive;"
                   for="formGradYearInput" class="col-sm-6 col-form-label">Graduation Year</label>
            <input class="form-control" type="text"
                   th:field="*{graduatedWhen}" id="formGradYearInput"/>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a th:href="@{/users/{userId}/show(userId=${user.id})}" class="btn btn-secondary btn-lg active" role="button"
       aria-pressed="true" style="height: 38px; padding: 6px 12px; width: 75px; font-size: inherit;">Cancel</a>
</form>
</body>
</html>